<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Album Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
    </div>
  </nav> 

  <div class="container-fluid">
    <h2>SignUP Page</h2>
    </div>
    
    <div class="container-fluid">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
       
        <div class="form-group row justify-content-center">
            <label for="name" class="col-4">Name</label>
            <input type="text" class="form-control col-6" id="name" aria-describedby="nameHelp" 
                    name="name" ngModel required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger col-8">
                
            <div *ngIf="name.errors.required">
                    Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
            </div>
                
          </div></div>
        <div class="form-group row justify-content-center">
          <label for="email" class="col-4" >Email address</label>
          <input type="email" class="form-control col-6" id="email" aria-describedby="emailHelp" 
                 name="email" ngModel required email #email="ngModel" >
          <span class="text-danger col-8 " *ngIf="!email.valid && email.touched">Please enter a valid email</span>
             
        </div>

        <div class="form-group row justify-content-center">
          <label for="password" class="col-4">Password</label>
          <input type="password" class="form-control col-6" id="password"
             name="password" ngModel required #password="ngModel">
        </div>
        <div class="form-group row justify-content-center">
            <label for="password2" class="col-4">Re-Enter Password</label>
            <input type="password" class="form-control col-6" id="password2" required>
          </div>
          
          <div class="form-group text-center ">
        <div class="buttons"><button type="submit" class="btn btn-primary ">Sign UP</button></div>
        <div class="buttons"><button type="button" class="btn btn-primary " (click)="navigate()">Log In</button></div>
    </div>
   
      </form>
    </div>
    