
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Album Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]='searchBy' name='search'>    </form>
      <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="button" >Login</button></a>
    </div>
</nav>

<div class="flex-container" > 
  <div class="card" style="width: 18rem;" *ngFor="let album of filteredalbums">
    <img class="card-img-top" src='{{album.album.albumCover}}' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Album Name: {{album.album.name}}</h5>
      <h5 class="card-title">Artist Name: {{album.artist}}</h5>
      <p class="card-text"></p>
      <a href="/album/{{album._id}}" class="btn btn-primary">See Album</a>
    </div>
  </div>
</div>  
  